<h1>Song Details:</h1><br>
<h1><%= @song.name %></h1>
<h4>Performed By:</h4>
<p><%= link_to @song.artist.name, artist_path(@song.artist) %></p>
<h4>Genre:</h4>
<p><%= link_to @song.genre.name, genre_path(@song.genre) %></p>